@import "tailwindcss";

:root {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color-scheme: dark;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}