---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/linkedin.astro";
import Social from "../components/Social.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
---

<Layout
    title="Portafolio de Ed Oliveros - Desarrollador y Programador Web"
    description="Desarrollador Web"
>
    <main>
        <section class="w-full mx-auto lg:w-[740px] py-44">
            <img
                class="rounded-full size-12 mb-10"
                src="https://lh3.googleusercontent.com/a/ACg8ocJcMSszPb5ubXrSSZDgnEoXiPC8fQKJhjU5Ji6lO8I-zu_DsO8HvQ=s288-c-no"
                alt="EdOliveros Photo"
            />
            <h1
                class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
            >
                Hola! Soy Ed Oliveros
                <a
                    href="https://www.linkedin.com/in/edgar-oliveros-83671325a/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex justify-center items-center"
                >
                    <Badge>Disponible para trabajar!</Badge>
                </a>
            </h1>
            <h2 class="text-2xl text-wrap">
                <span>+1 año de experiencia.</span>
                <span class="text-yellow-200/90">Desarrollador Web.</span>
                <span>Bogota, Colombia.</span>
            </h2>

            <nav class="flex gap-x-2 mt-8">
                <Social
                    href="https://www.linkedin.com/in/edgar-oliveros-83671325a/"
                >
                    <Linkedin class="size-6" />
                    LinkedIn
                </Social>
                <Social href="https://github.com/EdOliveros">
                    <GitHub class="size-6" />
                    GitHub
                </Social>
                <Social href="https://github.com/EdOliveros">
                    <Mail class="size-6" />
                    Mail
                </Social>
            </nav>
        </section>
    </main>
</Layout>
