---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/linkedin.astro";
import Social from "../components/Social.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import Experiencie from "../components/Experiencie.astro";
import Section from "../components/Section.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Projects from "../components/Projects.astro";
import Code from "../components/icons/Code.astro";
import About from "../components/About.astro";
import MeIcon from "../components/icons/MeIcon.astro";
---

<Layout
    title="Portafolio de Ed Oliveros - Desarrollador y Programador Web"
    description="Desarrollador Web"
>
    <main>
        <Section>
            <img
                class="rounded-full size-12 mb-10"
                src="../assets/ed.png"
                alt="EdOliveros Photo"
            />
            <h1
                class="text-white text-3xl md:text-5xl font-bold flex flex-row gap-x-4 pb-4"
            >
                Hi! I'm Ed Oliveros
                <a
                    href="https://www.linkedin.com/in/edgar-oliveros-83671325a/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex justify-center items-center"
                >
                    <Badge>Available for work!</Badge>
                </a>
            </h1>
            <h2 class="text-xl md:text-2xl text-wrap">
                <span>+1 year of experience.</span>
                <span class="text-yellow-200/90">Web Developer.</span>
                <span>Bogota, Colombia.</span>
            </h2>

            <nav class="flex gap-x-2 mt-8 flex-wrap gap-y-2">
                <Social
                    href="https://www.linkedin.com/in/edgar-oliveros-83671325a/"
                >
                    <Linkedin class="size-6" />
                    LinkedIn
                </Social>
                <Social href="https://github.com/EdOliveros">
                    <GitHub class="size-6" />
                    GitHub
                </Social>
                <Social href="mailto:edgarolimoy98@gmail.com">
                    <Mail class="size-6" />
                    Mail
                </Social>
            </nav>
        </Section>

        <Section id="experience">
            <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
                <Briefcase class="size-7" />
                Work Experience
            </h2>
            <Experiencie />
        </Section>

        <Section id="projects">
            <h2
                class="text-2xl font-semibold mb-6 flex gap-x-3 items-center py-3"
            >
                <Code class="size-7" />
                Projects
            </h2>
            <Projects />
        </Section>

        <!-- <Section id="about">
            <h2
                class="text-2xl font-semibold mb-6 flex gap-x-3 items-center py-3"
            >
                <MeIcon class="size-7" />
                About Me...
            </h2>
            <About />
        </Section> -->
    </main>
</Layout>
