---
import ExperiencieItem from "./ExperiencieItem.astro";

const EXPERIENCIE = [
    {
        date: "Current...",
        title: "Freelance",
        description:
            "I am currently working as a freelance developer on a list management application. This tool is designed for people who not only create lists but also organize their ideas through categories, topics, and nested lists. Its goal is to provide a practical and flexible way to structure, prioritize, and digitize personal or professional information.",
    },
    {
        date: "August 2025",
        title: "Eukariae API",
        description:
            "Created the Eukariae API, the backend engine connecting dynamic content to the website’s visual layer. Designed a modular and scalable architecture to manage illustrated product and article data. Integrated with the frontend built in Astro, enabling real‑time content updates and lightweight communication between the site’s artistic interface and technical infrastructure. Focused on performance, maintainability, and seamless data flow.",
    },
    {
        date: "December 2024",
        title: "Eukariae App",
        description:
            "Developed Eukariae, a digital platform where art, nature, and technology converge. Designed and implemented a visually immersive web experience showcasing illustrated animal‑themed products. Built with React.js and Next.js, and deployed on Vercel, integrating aesthetic design principles with robust code architecture to ensure fast performance and intuitive navigation. Collaborated in the artistic direction to align technical execution with brand identity.",
    },
];
---

<ol class="relative border-s border-default ml-4">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperiencieItem {...experiencie} />
            </li>
        ))
    }
</ol>
