---
import ExperiencieItem from "./ExperiencieItem.astro";

const EXPERIENCIE = [
    {
        date: "Current...",
        title: "Freelance",
        description:
            "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
    },
    {
        date: "August 2025",
        title: "Eukariae API",
        description:
            "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
    },
    {
        date: "December 2024",
        title: "Eukariae App",
        description:
            "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
    },
];
---

<ol class="relative border-s border-default ml-4">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperiencieItem {...experiencie} />
            </li>
        ))
    }
</ol>
