<footer class="flex justify-center items-center py-20 mx-auto px-4">
    <p>By&nbsp;&nbsp;</p>
    <a
        class="text-blue opacity-75 hover:opacity-100 transition-all"
        href="https://github.com/EdOliveros"
    >
        Ed Oliveros
    </a>
</footer>
