<footer
    class="flex justify-between md:justify-center items-center py-5 mx-auto px-4 w-full lg:w-[740px] opacity-80"
>
    <span class="text-sm text-body sm:text-center"
        >© 2026 <a
            class="text-blue opacity-75 hover:opacity-100 transition-all"
            href="https://github.com/EdOliveros">Ed Oliveros</a
        >. Almost all Rights Reserved.
    </span>
</footer>
