---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={Astro.props.description} />
		<meta name="author" content="Ed Oliveros" />
		<meta
			name="keywords"
			content="Ed Oliveros, Desarrollador Web, Programador Web"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Ed Oliveros</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-neutral-950">
		<div
			class="absolute top-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>
		<Header />
		<slot />
	</body>
</html>
